doctype html

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Meet the Team!
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='./dist/css/main.css')
  script(defer='' src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')
section.team
  .container
    h1.team__heading.has-text-centered.is-size-1.has-text-white.has-text-weight-light Meet The Team!
    .team__coordinators.columns.is-multiline.is-centered
      .column.is-12
        h2.team__coordinators-heading.has-text-centered.is-size-2.has-text-white.has-text-weight-light Coordinators
      .column.is-3
        mixin team_profile(name, designation, profileImage)
          .team__profile
            figure.image.is-128x128
              img(src=profileImage)
            h3.has-text-centered.is-size-4.has-text-white=name
            h4.has-text-centered.is-size-5.has-text-white.has-text-weight-light=designation
            .team__coordinators-social
              a(href=attributes.firstSocialLink)
                span.icon.is-large.has-text-info
                  i.fa-2x(class=attributes.firstSocial)
              a(href=attributes.secondSocialLink)
                span.icon.is-large.has-text-primary
                  i.fa-2x(class=attributes.secondSocial)
              a(href=attributes.thirdSocialLink)
                span.icon.is-large.has-text-link
                  i.fa-2x(class=attributes.thirdSocial)

        +team_profile('Varun Prabhakar', 'Technical Coordinator', 'https://bulma.io/images/placeholders/256x256.png')(firstSocial='fab fa-facebook', secondSocial='fab fa-instagram', thirdSocial='fab fa-twitter', firstSocialLink='#', secondSocialLink='#', thirdSocialLink='#')
      .column.is-3
        +team_profile('Abhigna Bhatt', 'Cultural Coordinator', 'https://bulma.io/images/placeholders/256x256.png')(firstSocial='fab fa-facebook', secondSocial='fab fa-instagram', thirdSocial='fab fa-twitter', firstSocialLink='#', secondSocialLink='#', thirdSocialLink='#')
      .column.is-3
        +team_profile('Ajay Gairolla', 'Sports Coordinator', 'https://bulma.io/images/placeholders/256x256.png')(firstSocial='fab fa-facebook', secondSocial='fab fa-instagram', thirdSocial='fab fa-twitter', firstSocialLink='#', secondSocialLink='#', thirdSocialLink='#')

    .team__coordinators.columns.is-multiline.is-centered
      .column.is-12
        h2.team__coordinators-heading.has-text-centered.is-size-2.has-text-white.has-text-weight-light(style='margin: 4rem 0;') CORE Team
        +team_profile('Prajjwal Dimri', 'Student Coordinator', './dist/img/prajjwal_profile.jpg')(firstSocial='fab fa-github', secondSocial='fas fa-globe', thirdSocial='fab fa-telegram', firstSocialLink='https://github.com/prajjwaldimri', secondSocialLink='https://prajjwaldimri.me', thirdSocialLink='https://t.me/prajjwaldimri')
      .column.is-3
        +team_profile('Ayush Bahuguna', 'Designer', './dist/img/ayushb_profile.jpg')(firstSocial='fab fa-github', secondSocial='fab fa-telegram', thirdSocial='fab fa-twitter', firstSocialLink='https://github.com/ayushbahuguna', secondSocialLink='https://t.me/ayushbahuguna', thirdSocialLink='https://twitter.com/Bahuguna12Ayush')
      .column.is-3
        +team_profile('Arpit Kapoor', 'Team Member', './dist/img/arpit_profile.jpg')(firstSocial='fab fa-facebook', secondSocial='fab fa-instagram', thirdSocial='fab fa-twitter', firstSocialLink='#', secondSocialLink='#', thirdSocialLink='#')
      .column.is-3
        +team_profile('Akshita Chaurasiya', 'Team Member', 'https://bulma.io/images/placeholders/256x256.png')(firstSocial='fab fa-facebook', secondSocial='fab fa-instagram', thirdSocial='fab fa-twitter', firstSocialLink='#', secondSocialLink='#', thirdSocialLink='#')
      .column.is-3
        +team_profile('Ayush Pant', 'Designer', './dist/img/ayushp_profile.jpg')(firstSocial='fab fa-github', secondSocial='fab fa-instagram', thirdSocial='fab fa-telegram', firstSocialLink='https://github.com/ayushpant', secondSocialLink='https://instagram.com/ayushpant07', thirdSocialLink='https://t.me/ayushpant')
      .column.is-3
        +team_profile('Meenakshi Bijalwan', 'Team Member', './dist/img/meenakshi_profile.jpg')(firstSocial='fab fa-facebook', secondSocial='fab fa-instagram', thirdSocial='fab fa-twitter', firstSocialLink='#', secondSocialLink='#', thirdSocialLink='#')
      .column.is-3
        +team_profile('Preeti Patel', 'Team Member', 'https://bulma.io/images/placeholders/256x256.png')(firstSocial='fab fa-facebook', secondSocial='fab fa-instagram', thirdSocial='fab fa-twitter', firstSocialLink='#', secondSocialLink='#', thirdSocialLink='#')
      .column.is-3
        +team_profile('Shubham Rawat', 'Team Member', './dist/img/shoby_profile.jpg')(firstSocial='fab fa-facebook', secondSocial='fab fa-instagram', thirdSocial='fab fa-twitter', firstSocialLink='#', secondSocialLink='#', thirdSocialLink='#')
      .column.is-3
        +team_profile('Rajesh Sharma', 'Team Member', 'https://bulma.io/images/placeholders/256x256.png')(firstSocial='fab fa-facebook', secondSocial='fab fa-instagram', thirdSocial='fab fa-twitter', firstSocialLink='#', secondSocialLink='#', thirdSocialLink='#')
      .column.is-3
        +team_profile('Priyanka Negi', 'Team Member', 'https://bulma.io/images/placeholders/256x256.png')(firstSocial='fab fa-facebook', secondSocial='fab fa-instagram', thirdSocial='fab fa-twitter', firstSocialLink='#', secondSocialLink='#', thirdSocialLink='#')
      .column.is-3
        +team_profile('Deepak Chamoli', 'Team Member', './dist/img/dee_profile.jpg')(firstSocial='fab fa-facebook', secondSocial='fab fa-instagram', thirdSocial='fab fa-twitter', firstSocialLink='#', secondSocialLink='#', thirdSocialLink='#')
      .column.is-3
        +team_profile('Ankit Joshi', 'Team Member', 'https://bulma.io/images/placeholders/256x256.png')(firstSocial='fab fa-facebook', secondSocial='fab fa-instagram', thirdSocial='fab fa-twitter', firstSocialLink='#', secondSocialLink='#', thirdSocialLink='#')
      .column.is-3
        +team_profile('Vishutosh Jayant', 'Team Member', 'https://bulma.io/images/placeholders/256x256.png')(firstSocial='fab fa-facebook', secondSocial='fab fa-instagram', thirdSocial='fab fa-twitter', firstSocialLink='#', secondSocialLink='#', thirdSocialLink='#')

    .team__coordinators.columns.is-multiline.is-centered
      .column.is-6
        h2.team__coordinators-heading.has-text-centered.is-size-2.has-text-white.has-text-weight-light(style='margin: 4rem 0;') Technical Team
        .columns.is-multiline
          .column.is-6
            +team_profile('Vijay Rawat', 'Designer', 'https://bulma.io/images/placeholders/256x256.png')(firstSocial='fab fa-github', secondSocial='fab fa-telegram', thirdSocial='fab fa-twitter', firstSocialLink='https://github.com/ayushbahuguna', secondSocialLink='https://t.me/ayushbahuguna', thirdSocialLink='https://twitter.com/Bahuguna12Ayush')
          .column.is-6
            +team_profile('Gajendra Mehra', 'Designer', 'https://bulma.io/images/placeholders/256x256.png')(firstSocial='fab fa-github', secondSocial='fab fa-telegram', thirdSocial='fab fa-twitter', firstSocialLink='https://github.com/ayushbahuguna', secondSocialLink='https://t.me/ayushbahuguna', thirdSocialLink='https://twitter.com/Bahuguna12Ayush')
          .column.is-6
            +team_profile('Ayush Bahuguna', 'Designer', 'https://bulma.io/images/placeholders/256x256.png')(firstSocial='fab fa-github', secondSocial='fab fa-telegram', thirdSocial='fab fa-twitter', firstSocialLink='https://github.com/ayushbahuguna', secondSocialLink='https://t.me/ayushbahuguna', thirdSocialLink='https://twitter.com/Bahuguna12Ayush')
          .column.is-6
            +team_profile('Ayush Bahuguna', 'Designer', 'https://bulma.io/images/placeholders/256x256.png')(firstSocial='fab fa-github', secondSocial='fab fa-telegram', thirdSocial='fab fa-twitter', firstSocialLink='https://github.com/ayushbahuguna', secondSocialLink='https://t.me/ayushbahuguna', thirdSocialLink='https://twitter.com/Bahuguna12Ayush')
          .column.is-6
            +team_profile('Ayush Bahuguna', 'Designer', 'https://bulma.io/images/placeholders/256x256.png')(firstSocial='fab fa-github', secondSocial='fab fa-telegram', thirdSocial='fab fa-twitter', firstSocialLink='https://github.com/ayushbahuguna', secondSocialLink='https://t.me/ayushbahuguna', thirdSocialLink='https://twitter.com/Bahuguna12Ayush')
          .column.is-6
            +team_profile('Ayush Bahuguna', 'Designer', 'https://bulma.io/images/placeholders/256x256.png')(firstSocial='fab fa-github', secondSocial='fab fa-telegram', thirdSocial='fab fa-twitter', firstSocialLink='https://github.com/ayushbahuguna', secondSocialLink='https://t.me/ayushbahuguna', thirdSocialLink='https://twitter.com/Bahuguna12Ayush')
          .column.is-6
            +team_profile('Ayush Bahuguna', 'Designer', 'https://bulma.io/images/placeholders/256x256.png')(firstSocial='fab fa-github', secondSocial='fab fa-telegram', thirdSocial='fab fa-twitter', firstSocialLink='https://github.com/ayushbahuguna', secondSocialLink='https://t.me/ayushbahuguna', thirdSocialLink='https://twitter.com/Bahuguna12Ayush')
          .column.is-6
            +team_profile('Ayush Bahuguna', 'Designer', 'https://bulma.io/images/placeholders/256x256.png')(firstSocial='fab fa-github', secondSocial='fab fa-telegram', thirdSocial='fab fa-twitter', firstSocialLink='https://github.com/ayushbahuguna', secondSocialLink='https://t.me/ayushbahuguna', thirdSocialLink='https://twitter.com/Bahuguna12Ayush')
          .column.is-6
            +team_profile('Ayush Bahuguna', 'Designer', 'https://bulma.io/images/placeholders/256x256.png')(firstSocial='fab fa-github', secondSocial='fab fa-telegram', thirdSocial='fab fa-twitter', firstSocialLink='https://github.com/ayushbahuguna', secondSocialLink='https://t.me/ayushbahuguna', thirdSocialLink='https://twitter.com/Bahuguna12Ayush')
          .column.is-6
            +team_profile('Ayush Bahuguna', 'Designer', 'https://bulma.io/images/placeholders/256x256.png')(firstSocial='fab fa-github', secondSocial='fab fa-telegram', thirdSocial='fab fa-twitter', firstSocialLink='https://github.com/ayushbahuguna', secondSocialLink='https://t.me/ayushbahuguna', thirdSocialLink='https://twitter.com/Bahuguna12Ayush')

      .column.is-6
        h2.team__coordinators-heading.has-text-centered.is-size-2.has-text-white.has-text-weight-light(style='margin: 4rem 0;') Organizing Team
        .columns.is-multiline
          .column.is-6
            +team_profile('Ayush Bahuguna', 'Designer', 'https://bulma.io/images/placeholders/256x256.png')(firstSocial='fab fa-github', secondSocial='fab fa-telegram', thirdSocial='fab fa-twitter', firstSocialLink='https://github.com/ayushbahuguna', secondSocialLink='https://t.me/ayushbahuguna', thirdSocialLink='https://twitter.com/Bahuguna12Ayush')
          .column.is-6
            +team_profile('Ayush Bahuguna', 'Designer', 'https://bulma.io/images/placeholders/256x256.png')(firstSocial='fab fa-github', secondSocial='fab fa-telegram', thirdSocial='fab fa-twitter', firstSocialLink='https://github.com/ayushbahuguna', secondSocialLink='https://t.me/ayushbahuguna', thirdSocialLink='https://twitter.com/Bahuguna12Ayush')
